/* ---------------------------
   ESTILO GERAL DA PÁGINA
---------------------------- */
body {
    font-family: "Arial", sans-serif;
    text-align: center;
    padding: 30px;
    background-color: #fff5f5; /* fundo vermelho bem suave */
    color: #5a0000;
}

h1 {
    color: #b30000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 2px solid #ffb3b3;
    border-radius: 8px;
    width: 200px;
    font-size: 16px;
    background-color: #fff;
}

input:focus {
    border-color: #ff4d4d;
    outline: none;
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.4);
}

/* ---------------------------
          BOTÃO
---------------------------- */
button {
    padding: 12px 25px;
    background: linear-gradient(90deg, #ff0000, #cc0000);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.25s;
    letter-spacing: 1px;
}

button:hover {
    background: linear-gradient(90deg, #cc0000, #990000);
    transform: scale(1.05);
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.3); /* vermelho translúcido */
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 330px;
    text-align: center;
    animation: aparecer 0.35s ease-out;
    border: 3px solid #ffffff;
    box-shadow: 0 10px 30px rgba(228, 14, 14, 0.4);
}

.popup-content h2 {
    color: #b30000;
}

.popup-content img {
    width: 250px;
    margin-top: 10px;
    border-radius: 12px;
    border: 3px solid #ffcccc;
}

/* Botão fechar */
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
    color: #cc0000;
}

.close:hover {
    color: #ff0000;
    transform: scale(1.1);
}

/* ---------------------------
      ANIMAÇÃO DO POPUP
---------------------------- */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
